# CODEOWNERS
#
# documentation for this file can be found at:
# https://help.github.com/en/articles/about-code-owners

# These are the default owners for the code and will
# be requested for review when someone opens a pull request.
# order is alphabetical for easier maintenance.
#
# Akash Shendge (shenda1)
# Arindam Datta (dattaarindam)
# Bhavneet Sharma(Bhavneet-Sharma)
# Prabhulinga Revur (prabhu-dell)
# Rajshree Khare (khareRajshree)
# Srinivas P Rao (srinivas-rao5)
# Trisha Datta(trisha-dell)

# for all files:
* @shenda1 @dattaarindam @Bhavneet-Sharma @prabhu-dell @khareRajshree @srinivas-rao5 @trisha-dell
